<div class="py-4">
  <section class="mb-4">
    <h2 class="fs-3 trick-title mb-4">Enter Response Setting</h2>
    <p class="trick-desc">When an HTTP request is sent from an IP address specified in From IP, a dummy request is returned according to the following settings.</p>
  </section>
  <div class="mb-5">
    <%= form_with url: "/home/add", method: :post do |form| %>
      <div class="row mb-3">
        <div class="col-6">
          <label for="name" class="form-label">Request Name</label>
          <input type="text" class="form-control" name="home[name]" id="name" placeholder="trick">
        </div>
        <div class="col-6">
          <label for="status" class="form-label">Status Code</label>
          <input type="text" class="form-control" name="home[status]" id="status" placeholder="200">
        </div>
      </div>
      <div class="mb-3">
        <label for="header" class="form-label">Header Json</label>
        <textarea type="text" class="form-control" name="home[header]" id="header" style="height: 100px" placeholder='{ "X-DUMMY-KEY": "abcdef" }'></textarea>
      </div>
      <div class="mb-3">
        <label for="body" class="form-label">Body Json</label>
        <textarea type="text" class="form-control" name="home[body]" id="body" style="height: 100px" placeholder='{ "data": "ghijkl" }'></textarea>
      </div>

      <button type="submit" class="btn btn-primary col-2">Register Request</button>
    <% end %>
  </div>
  <%- if @requests %>
    <div class="mt-5">
      <p class="fs-3 trick-title mb-4">The set requests</p>
      <%- @requests.each_with_index do |request, index| %>
        <div class="mb-2 border border-light border-3 rounded p-4">
          <p class="trick-number mb-3"><%= format("%02d", index + 1) %></p>
          <div class="row">
            <div class="col-2">
              <dl class="mb-1">
                <dt>Name</dt>
                <dd><%= request.name %></dd>
              </dl>
              <dl class="mb-1">
                <dt>Status Code</dt>
                <dd><%= request.status_code %></dd>
              </dl>
            </div>
            <div class="col-5">
              <dl>
                <dt class="mb-1">Header</dt>
                <dd><%= request.response_header %></dd>
              </dl>
            </div>
            <div class="col-5">
              <dl>
                <dt>Body</dt>
                <dd><%= request.response_body %></dd>
              </dl>
            </div>
          </div>
        </div>
      <%- end %>
    </div>
  <%- end %>
</div>