<!DOCTYPE html>
<html>
  <head>
    <title>Fake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js" integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g==" crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Asap:wght@700&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="d-flex justify-content-between align-items-center trick__header">
      <div class="trick__title d-flex align-items-center">
        <h1 class="fs-2 trick__title-main">
          <a href="/" class="trick__title-link text-white">Fake</a>
        </h1>
        <h2 class="fs-6 trick__title-sub ms-3 text-white">
          Return a customized HTTP response
        </h2>
      </div>
      <nav class="d-flex align-items-center">
        <%- if @user_account || @guest_user_id %>
          <div class="me-3 trick__user d-flex align-items-center me-4">
            <svg class="trick__user-icon" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" xml:space="preserve">
              <g>
                <path class="st0" d="M305.895,307.693c-15.71,5.222-32.45,8.157-49.895,8.157s-34.186-2.935-49.894-8.157
                  C92.029,326.416,32.331,410.25,32.331,512h223.668h223.67C479.669,410.25,419.981,326.416,305.895,307.693z" style="fill: rgb(255, 255, 255);"></path>
                <path class="st0" d="M255.999,279.581c67.621,0,122.424-54.813,122.424-122.423v-34.735C378.423,54.814,323.621,0,255.999,0
                  c-67.62,0-122.423,54.814-122.423,122.423v34.735C133.577,224.768,188.379,279.581,255.999,279.581z" style="fill: rgb(255, 255, 255);"></path>
              </g>
            </svg>
            <p class="trick__user-name ms-1">
              <%- if @user_account %>
                <%= @user_account.name %>
              <%- elsif  @guest_user_id %>
                <%= @guest_user_id %>
              <%- end %>
            </p>
          </div>
        <%- end %>
        <div>
          <%- if @user_account %>
            <%= button_to "Logout", "/logout", method: :delete, class: "btn btn-outline-light trick__session" %>
          <%- else %>
            <%= link_to "Login", "/login", class: "btn btn-outline-light trick__session" %>
          <%- end %>
        </div>
      </nav>
    </header>
    <main class="container p-4">
      <%= render partial: "layouts/alert" %>
      <%= yield %>
    </main>
    <footer class="trick__footer p-2 trick__center">
      <small>Copyright &copy; 2022 Fake All rights reserved.</small>
    </footer>
  </body>
</html>